$article-margin: 10px;
$article-padding: 10px;

.article {
    margin: 10px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.article-main {
    margin: $article-margin;
    padding: $article-padding;

    background-color: $color-bg-article;
}

.article-sidebar {
    margin: $article-margin;
    padding: $article-padding;

    min-width: 180px;

    background-color: $color-bg-article-sidebar;
    font-size: 0.9rem;

    ul {
        margin: 0;
        padding: 0 0 0 10px;
    }

    li {
        list-style-type: none;
    }

    h3 {
        margin: 0px 0 10px;
    }

    a {
        text-decoration: none;
        color: $color-text;

        &:hover {
            color: $color-text-second;
        }
    }
}

@media screen and (min-width: 800px) {
    .article {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        position: relative;
    }

    .article-sidebar {
        position: sticky;
        top: $article-margin;
    }
}
