.breadcrumb {
    padding: 10px;
    border-radius: 20px;

    background-color: $color-bg-breadcrumb;
    
    span,
    a {
        padding: 8px;

        border-radius: 20px;

        text-decoration: none;
        color: $color-text;
    }

    a:hover {
        background-color: $color-bg-breadcrumb-hover;
    }
}