
.folderTableOfContent {
    margin: 15px 5px;
    //background-color: red;

}

.folderTableOfContent_aticles {
    padding: 20px 0;
}

.folderTableOfContent_article {
    background-color: $folderTableOfContent-article-bg;
    border-radius: 20px;

    display: block;

    margin: 5px;
    padding: 5px;

    text-decoration: none;
    color: inherit;

    h4 {
        margin: 8px 5px 4px;
    }

    p {
        margin: 4px 10px 8px;
    }

    &:hover {
        background-color: $folderTableOfContent-article-bg-hover;
    }
}

@media screen and (min-width: 800px) {
    .folderTableOfContent_aticles {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
}

