
.home-card-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.home-card {
    margin: 10px;

    display: block;
    
    width: 200px;
    min-height: 20px;
    background-color: $color-home-card;

    text-decoration: none;
    text-align: center;
    color: $color-text;

    &:hover {
        background-color: $color-home-card-hover;
    }

    h2 {
        margin: 15px 0;
    }
}
