
$color-text: #000000;
$color-text-second: #6f7b7c;
$color-text-header: #f3eaea;

$color-bg: rgb(233, 218, 218);
$color-bg-header: #02007e;
$color-bg-footer: $color-bg;

$color-bg-article: $color-bg;
$color-bg-article-sidebar: rgb(243, 229, 229);

$color-bg-breadcrumb: rgb(179, 212, 240);
$color-bg-breadcrumb-hover: rgb(201, 220, 236);

$color-home-card: rgb(255, 255, 255);
$color-home-card-hover: rgb(237, 224, 240);



$folderTableOfContent-article-bg: $color-bg-breadcrumb;
$folderTableOfContent-article-bg-hover: $color-bg-breadcrumb-hover;



$list-link-group-bg-color: $color-bg-article-sidebar;
$list-link-group-hover-bg-color: rgb(233, 203, 203);



$body-content-max-size: 1140px;
