<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body data-url="{{ .RelPermalink }}">
        {{- partial "header.html" . -}}
        <div class="body">      
            {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
        {{- partial "scripts.html" . -}}
    </body>
</html>
