{{ define "main" }}
    {{ partial "breadcrumb.html" . }}

    <div class="folderTableOfContent">
        
        <section class="folderTableOfContent_aticles">
        {{ with .Pages }}
            {{ range . }}
                <a class="folderTableOfContent_article" href="{{ .Permalink }}">
                    <h4>{{ .Title }}</h4>
                    <p>{{ .Params.description }}</p>
                </a>
            {{ end }}
        {{ end }}
        {{ with .Sections }}
            {{ range . }}
                <a class="folderTableOfContent_article" href="{{ .Permalink }}">
                    <h4>{{ .Title }}</h4>
                    <p>{{ .Params.description }}</p>
                </a>
                {{/* range .Pages */}}{{/* .Title */}}{{/* end */}}
            {{ end }}
        {{ end }}
        </section>
    </div>

    {{if .Content }}
    {{ partial "article.html" . }}
    {{ end }}
{{ end }}
