.body {
    padding: 15px 10px;

    //display: flex;

    background-color: $color-bg;
}

@media screen and (min-width: 1140px) {
    .body {
        width: $body-content-max-size;
        margin: 0 auto;
    }
}
