
.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    background-color: $color-bg-header;

    color: $color-text-header;
}

.header-title {
    padding: 20px 0;
    text-decoration: none;
    color: $color-text-header;
    
    h1 {
        margin: 0;
        font-size: 32px;
        font-weight: 600;
    }
}


.searchbox {
    margin: 10px;
    padding: 5px;

    color: $color-text;

    background-color: $color-bg;
    border-radius: 8px;

    label {
        background-color: inherit;
        color: inherit;
    }

    input {
        width: 180px;
        padding: 0 10px;
        border-style: none;
        
        color: inherit;

        background-color: inherit;
    }
}