<article class="article">
    <aside class="article-sidebar">
        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        {{ with .TableOfContents }}
        <div class="">
            {{ . }}
        </div>
        {{ end }}
    </aside>
    <div class="article-main markdown-body">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
    </div>
</article>