{{ define "breadcrumb_loop" }}
    {{$parent := .page.Parent }}
    {{ if $parent }}
        {{ $value := (printf "<a href='%s'>%s</a><i class=\"fa fa-angle-double-right\"></i>%s" $parent.Permalink $parent.Title .value) }}
        {{ template "breadcrumb_loop" dict "page" $parent "value" $value  }}
    {{ else }}
        {{ .value|safeHTML  }}
    {{ end }}
{{end}}

<div class="breadcrumb">
    {{ template "breadcrumb_loop" dict "page" . "value" (printf "<span>%s</span>" .Title) }}
</div>
