<header class="header">
    <a class="header-title" href="{{ "" | relURL }}">
        <h1>{{ .Site.Title }}</h1>
    </a>
    <div class="searchbox">
        <label for="search-by"><i class="fas fa-search"></i></label>
        <input data-search-input id="search-by" type="text" placeholder="Search...">
    </div>
</header>