<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <link href="{{"vendor/css/auto-complete.css" | relURL}}" rel="stylesheet">
    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <link rel="shortcut icon" href="{{ "img/favicon-16x16.png" | relURL }}">
</head>