{{/* Mermaid part */}}
<script type="text/javascript" src="{{"vendor/js/mermaid.min.js" | relURL}}"></script>


{{/* search part */}}
{{/* http://www.johann-oberdorfer.eu/blog/2017/11/11/17-11-01_add_site_search_to_hugo_static_site_generator/ for search info */}}
<script type="text/javascript" src="{{"vendor/js/jquery-3.4.0.min.js" | relURL}}"></script>
<script type="text/javascript" src="{{"vendor/js/lunr.min.js" | relURL}}"></script>
<script type="text/javascript" src="{{"vendor/js/auto-complete.min.js" | relURL}}"></script>
<script type="text/javascript">
    var baseurl = '{{ "" | relURL }}';
</script>
<script type="text/javascript" src="{{"vendor/js/search.js" | relURL}}"></script>
