{{ define "main" }}
    <div class="content">{{ .Content }}</div>
    <div class="home-card-block">
        {{ $tiles := where .Site.Pages "Params.show_on_frontpage" true }}
        {{ range $i, $section := $tiles }}
            <a class="home-card" href="{{ .Permalink }}">
                {{ with .Params.icon }}<h2><i class="fa fa-{{ . }}"></i></h2>{{ end }}
                <h2 class="tile-title">{{ with .Params.title_short }}{{ . }}{{ else }}{{ .Title }}{{ end }}</h2>
            </a>
        {{ end }}
    </div>
{{ end }}